.pagination_style {
    padding: 11px !important;
    border-radius: 2rem !important;
    padding-right: 15px !important;
    padding-left: 15px !important;
    cursor: pointer !important;
}

.btn-hover:hover {
    background-color: aliceblue;
    color: black;
}

.input_Style {
    width: 4rem !important;
    outline: none !important;
}
