.select_hover:hover {
    background-color: black !important;
    color: white !important;
    cursor: pointer;
}

.scroll_br {
    overflow-y: scroll;
    height: 16rem;
}
.selected_store_btn {
    background-color: black !important;
    color: white !important;
    cursor: pointer;
}
