
.pagination_style{
    padding: 10px;
    border-radius: 1rem;
    padding-right: 12px;
    padding-left: 12px;
    cursor: pointer;
}

.btn-hover:hover{
    background-color: aliceblue;
    color: black;
    border-radius: 1rem;
    padding-right: 12px;
    padding-left: 12px;
    cursor: pointer; 
}