.input_style {
    outline: none !important;
    border: none;
}

.border_sty {
    border-top: 4px blue solid !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}